.table {
    margin-top: 26px;
    padding-bottom: 200px;
}

.content {
    padding: 48px 128px;
    border-radius: 10px;
    background-color: white;
}

.fill_line {
    display: flex;
    margin-top: 40px;
    align-items: baseline;
}

.fill_line_left {
    width: 30%;
}

.fill_line_right {
    width: 70%;
}

.fill_line_right input {
    width: 100%;
    border: none;
    border-bottom: solid 1px black;
}

.frame_table table {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.frame_table table,
.description,
.schedule_day {
    border: 1px solid black;
    border-collapse: collapse;
}

.frame_schedule {}

.schedule_day {
    width: 20%;
    padding: 20px 16px;
}

.description {
    width: 80%;
    padding: 20px 16px;
    font-size: 18px;
    font-weight: 500;
}

.descript {
    font-size: 24px;
    font-weight: 700;
}

.frame_img {
    display: flex;
    margin-top: 78px;
}

.img_title {
    width: 78px;
}

.img_block {
    width: 880px;
}

.img_text {
    width: 100%;
    margin-left: 40px;
    margin-bottom: 20px;
}

.img_choose {
    margin-left: 40px;
    width: 100%;
    height: 222px;
    color: var(--text-gray);
    background-color: var(--background-gray);
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.img_choose img {
    height: 100%;
}

.position_img {
    text-align: right;
}

.btn_create {
    margin-top: 76px;
    margin-bottom: 67px;
    width: 147px;
    height: 55px;
    border-radius: 20px;
    background-color: var(--btn-main);
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.messErr {
    font-size: 16px;
    font-weight: 500;
    color: red;
}