.Header_tour_detail {
  text-align: center;
  color: var(--color-main);
}
.TourDetail__Name {
  width: 100%;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  letter-spacing: -0.231818px;
  color: var(--color-main);
}
.TourDetail__img {
  /* object-fit: cover;  */
  width: 100%;
  height: 361px;
  margin-top: 3%;
  border-radius: 10px;
}
.TourDetail__content {
  line-height: 19px;
  letter-spacing: -0.231818px;
  color: #858585;
  margin-top: 1%;
  font-size: 16px;
}
.TourDetail__Evaluate {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.TourDetail__Evaluate__icon__icon {
  color: var(--color-main);
}
.TourDetail {
  margin-top: 1%;
}
.title__left {
  margin-right: 20px;
}
.content__right {
  font-size: 18px;
  font-weight: 500;
}
.grid__schedule__day {
  background-color: white;
  color: var(--text-main);
  border-radius: 10px;
  width: 144px;
  height: 43px;
  text-align: center;
  line-height: 43px;
  font-size: 18px;
}
.grid__schedule__detail {
  font-size: 18px;
  font-weight: 500;
}
.TourDetail__booking {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tourDetail__price {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-main);
}
.TourDetail__button {
  background: var(--btn-main);
  border-radius: 10px;
  width: 256px;
  height: 70px;
  font-weight: 700;
  font-size: 24px;
  color: white;
  border: none;
}
