:root {
  --font-family: 'Roboto', sans-serif;
  --background-gray:rgba(217, 217, 217, 0.3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
body {
  font-family: var(--font-family);
  height: 100vh;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
}