.header {
  display: flex;
  align-items: center;
  padding: 30px 100px;
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
.header__input_search {
  position: relative;
  background-color: var(--background-gray);
  border: none;
  margin: 0 32px;
  width: 177px;
  height: 27px;
  border-radius: 20px;
  padding-left: 26px;
  color: white;
}
.router {
  color: white;
  text-decoration: none;
  margin: 0 32px;
}
.icon {
  font-size: 1.6rem;
  margin: 0 12px 0 0;
}
.input .icon {
  position: absolute;
  top: 6px;
    left: 38px;
}
.line{
    width: 10px;
    height: 1px;
    background-color: white;
}