.container {
  width: 60%;
  height: 90vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__signin {
  width: 60%;
  height: 90%;
  background-color: rgba(248, 245, 228, 0.6);
  border-radius: 20px;
  padding: 10% 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
}
.text1 {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-gray);
  line-height: 22px;
}
.text2 {
  font-size: 56px;
  font-weight: 700;
  color: var(--text-main);
  margin: 12px 0 ;
}
.form__input__title {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-main);
}
.form__input__text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-main);
  width: 100%;
  height: 46px;
  border-radius: 4px;
  border: none;
  background: white;
  padding-left: 12px;
}
.btn {
  width: 150px;
  height: 46px;
  border-radius: 23px;
  background-color: var(--color-main);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}
.icon {
  color: white;
  font-size: 18px;
  margin-left: 10px;
}
.Exception {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-gray);
    margin: 0 auto;
}
.Exception__link {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-main);
}
.img{
    position: absolute;
    width: 60%;
    left: 60%;
    top: 0;
    z-index: 0;
}
.messErr{
  font-size: 16px;
  font-weight: 500;
  color: red;
}